.call-form-section {
  margin-block-start: 12.5rem;
  @media screen and (min-width: 320px) and (max-width: 500px) {
    padding-inline: $main-content-padding-mobile;
  }
  @media screen and (min-width: 500px) {
    padding-inline: $main-content-padding-tablet;
  }
  @media screen and (min-width: 900px) {
    padding-inline: $main-content-padding;
  }
  .call-us-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8.2rem;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      gap: 4.2rem;
    }

    .call-map {
      margin-block-start: 3rem;
      ul {
        margin-block-start: 2.4rem;

        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        li {
          list-style: none;
          a {
            color: #1d1d1b99;
            font-size: 2.2rem;
            cursor: pointer;
            gap: 1rem;

            span {
              display: inline-block;
            }
          }
        }
      }
      @media screen and (min-width: 320px) {
        ul {
          li {
            a {
              span {
                max-width: 12px;
              }
            }
          }
        }
      }
      @media screen and (min-width: 500px) {
        ul {
          li {
            a {
              span {
                max-width: 18px;
              }
            }
          }
        }
      }
      @media screen and (min-width: 1400px) {
        ul {
          li {
            a {
              span {
                max-width: 25px;
              }
            }
          }
        }
      }
    }
  }
}
