footer {
  margin-block-start: 7.2rem;
  padding-inline: $main-content-padding;
  padding-block: 8.8rem;
  background-color: $clr-secondary;

  .upper-footer {
    display: flex;
    gap: 11.7rem;
    .logo-container {
      max-width: 414px;
      p {
        margin-block-start: 3.7rem;
        font-size: 1.6rem;
        color: #00000099;
      }
    }
    .footer-section {
      h4 {
        color: #1d1d1b;
        font-size: 3rem;
        margin-block-end: 2rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        li {
          list-style: none;
          a {
            color: #1d1d1b99;
            font-size: 1.9rem;
            cursor: pointer;
            gap: 1rem;

            &:hover {
              color: $clr-primary;
            }
          }
        }
      }
    }
  }
  .lower-footer {
    margin-block-start: 15.4rem;
    display: flex;
    justify-content: space-between;

    .copy-container {
      display: flex;
      align-items: center;
      gap: 2.4rem;

      p {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0;
        color: #000000;
      }
      .primary-dot {
        width: 12px;
        height: 12px;
        background-color: $clr-primary;
        border-radius: 50%;
      }
      .links {
        display: flex;
        gap: 1.6rem;
        font-size: 1.8rem;
        color: #00000099;
        cursor: pointer;
      }
    }
    .social-container {
      display: flex;
      gap: 1.6rem;
    }
  }
}
