header {
  background-color: $clr-primary;
  background-image: url(../../assets/backgrounds/header-background.svg);
  background-repeat: no-repeat;
  background-position: 0px 100%;
  background-size: contain;
  padding-block: 6rem;
  padding-block-end: 8rem;
  &.callback-header {
    background-size: 100% 100%;

    background-image: url(../../assets/backgrounds/call-us-header.svg);
    padding-block-end: 14rem;
  }
  @media screen and (min-width: 320px) and (max-width: 500px) {
    &.callback-header {
      background-image: none;
    }
  }

  nav {
    gap: 2.5rem;
    display: flex;
    justify-content: space-between;

    &.navbar:not(.fixed-top) {
      padding-block: none;
    }
    &.navbar.fixed-top {
      padding-block: 2.2rem;
    }
    @media screen and (min-width: 320px) and (max-width: 500px) {
      &.navbar {
        padding-inline: 3rem;
      }
    }
    @media screen and (min-width: 500px) {
      &.navbar {
        padding-inline: 6rem;
      }
    }
    @media screen and (min-width: 900px) {
      &.navbar {
        padding-inline: 12rem;
      }
    }
    .nav-right {
      display: flex;
      align-items: center;
      gap: 2.4rem;

      .dropdown-toggle::after {
        display: none;
      }
      .logo-container {
        margin-inline-end: 4rem;
      }
      .nav-link {
        font-size: 1.8rem;
        color: $clr-secondary;
        transition: 0.3s all;
        .icon {
          margin-inline-start: 1rem;
        }
        &:hover {
          opacity: 0.7;
          transform: translateY(-5px);
        }
      }

      @media screen and (min-width: 320px) and (max-width: 1199px) {
        flex-direction: column;
        .nav-link {
          font-size: 2.5rem;
        }
      }
    }
    .nav-left {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      .lang-switcher {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        p {
          margin: 0;
          font-size: 2rem;
          color: $clr-secondary;
          font-weight: 700;
        }
      }
      .vertical-divider {
        color: $clr-secondary;
        font-size: 2rem;
      }
      .action-container {
        display: flex;
        gap: 1.6rem;
      }
    }
    .menu-icon {
      background: none;
      border: none;
      flex-shrink: 0;
    }
    .logo-container {
      @media screen and (min-width: 320px) and (max-width: 1199px) {
        max-width: 150px;
      }
    }
  }

  .intro-container {
    margin-block-start: 8.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 320px) and (max-width: 500px) {
      padding-inline: 3rem;
    }
    @media screen and (min-width: 500px) {
      padding-inline: 6rem;
    }
    @media screen and (min-width: 900px) {
      padding-inline: 12rem;
    }
    .intro-text {
      color: $clr-secondary;
      text-align: center;

      h1 {
        font-weight: bold;
        font-size: 6.4rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}
