.online-meetings {
  padding-block: 7.2rem;
  position: relative;

  @media screen and (min-width: 320px) and (max-width: 500px) {
    padding-inline: 1rem;
  }
  @media screen and (min-width: 500px) {
    padding-inline: $main-content-padding-tablet;
  }
  @media screen and (min-width: 900px) {
    padding-inline-start: $main-content-padding;
    padding-inline-end: 0;
  }
  .meeting-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-block-end: 2.4rem;
    gap: 2.4rem;
    .filter {
      position: absolute;
      height: 60%;
      width: 4.2%;
      background-color: #f2f2f2;
      opacity: 0.5;
      left: 0;
      z-index: 1;
    }
    &::-webkit-scrollbar {
      height: 4px;
      background-color: #fafafa;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ededed; /* color of the thumb */
      border-radius: 50px;
    }
  }
  .meeting-card {
    display: flex;
    flex-shrink: 0;
    gap: 1.8rem;
    background-color: $clr-secondary;
    padding-inline: 3.3rem;
    padding-block: 4rem;
    border-radius: 20px;
    background-image: url(../../assets/icons/inactive-meet.svg);
    background-repeat: no-repeat;
    background-position: 0 bottom;

    .start {
      display: flex;
      flex-direction: column;
      gap: 5.7rem;
      // Meeting description area
      .meeting-desc {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        h3 {
          font-size: 4rem;
          font-weight: 700;
          margin: 0;
        }
        p {
          font-size: 1.6rem;
          margin: 0;
          color: #1d1d1b66;
        }
      }

      // meeting speaker area
      .meeting-speaker {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        // Avatar  Area
        .speaker-avatar {
          display: flex;
          .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            z-index: 0;
          }
          .speaker-img {
            width: 50px;
            height: 50px;
            margin-inline-start: -16.5px;
          }
        }

        //Speaker Area
        .speaker-name {
          span {
            font-size: 1.2rem;
            color: #1d1d1b66;
          }
          p {
            font-size: 1.6rem;
          }
        }
      }
    }

    .end {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .duration {
        background-color: $clr-bg-secondary-btn;
        padding: 4px 12px;
        border-radius: 36px;
        font-size: 1.4rem;
        color: white;
      }
      .play-icon {
        width: 80px;
        height: 80px;
      }
    }
    @media screen and (max-width: 400px) {
      max-width: 98%;
      .start {
        .meeting-desc {
          h3 {
            font-size: 3rem;
            line-height: 1.5;
          }
        }
      }
    }
    @media screen and (min-width: 400px) {
      max-width: 400px;
    }
    @media screen and (min-width: 1500px) {
      max-width: 544px;
    }
    // Active meeting  card
    &.active-meeting {
      background-color: $clr-primary;
      color: white;
      background-image: url(../../assets/icons/active-icon.svg);
      .meeting-speaker {
        .speaker-name {
          span {
            color: #ffffff99;
          }
        }
      }
    }
  }
}
