.pagination-list {
  margin-block-start: 8rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  .pagination-item {
    font-size: 2rem;
    width: 54px;
    height: 54px;
    color: #1d1d1b;
    font-weight: 700;
    background-color: $clr-secondary;
    border-radius: 10px;
    line-height: 29.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
    &.active-page {
      background-color: #1d1d1b;
      color: white;
    }
    &.active-page {
      background-color: #1d1d1b;
      color: white;
    }
    &.arrow-control {
      background-color: $clr-primary;
    }
    &.arrow-disabled {
      background-color: $clr-secondary;
      cursor: not-allowed;
    }
    &:not(.arrow-disabled):hover {
      transform: translateY(-8px);
    }
    @media screen and (min-width: 320px) and (max-width: 500px) {
      width: 30px;
      height: 30px;
      font-size: 1.5rem;
    }
  }
}
