header {
  background-color: $clr-primary;
  padding-inline: 12rem;
  padding-block: 6rem;

  nav {
    gap: 2.5rem;
    display: flex;
    justify-content: space-between;
    .nav-right {
      display: flex;
      align-items: center;
      gap: 2.4rem;

      .dropdown-toggle::after {
        display: none;
      }
      .logo-container {
        margin-inline-end: 4rem;
      }
      .nav-link {
        font-size: 1.8rem;
        color: $clr-secondary;
        transition: 0.3s all;
        .icon {
          margin-inline-start: 1rem;
        }
        &:hover {
          opacity: 0.7;
          transform: translateY(-5px);
        }
      }
    }
    .nav-left {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      .lang-switcher {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        p {
          margin: 0;
          font-size: 2rem;
          color: $clr-secondary;
        }
      }
      .vertical-divider {
        color: $clr-secondary;
        font-size: 2rem;
      }
      .action-container {
        display: flex;
        gap: 1.6rem;
      }
    }
  }
}
