* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: "FFShamelFamily";
  src: url(../assets/fonts/FFShamelFamilySansOneBook.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FFShamelFamily";
  src: url(../assets/fonts/FFShamelFamily-SansOneBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
$font-family-base: "FFShamelFamily";

body {
  font-family: "FFShamelFamily";
}
