* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
  font-size: 10px;
}

@font-face {
  font-family: "FF Shamel Family";
  src: url(../assets/fonts/FFShamelFamily-SansOneBold.ttf)
    url(../assets/fonts/FF\ Shamel\ Family\ Sans\ One\ Book.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "FF Shamel Family", sans-serif;
}
