$clr-primary: #00ce8b;
$clr-secondary: #f2f2f2;
$clr-bg-secondary-btn: #4131ab;
$clr-placeholder: #818181;
$main-content-padding: 12rem;

// badge  colors
$clr-badge-walaplus: #00ce8b;
$clr-badge-awfar: #ff6608;
$clr-badge-bravo: #4131ab;
$clr-badge-one: #ffa700;
